* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}

body {
    background-image: url(img/3.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-color: white;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box__title {
    font-size: 3.7rem;
    letter-spacing: 0.1rem;
    color: #70bdaf;
    margin: 1.5rem 0 1rem 0;
    font-weight: 500;
    text-align: center;
    max-width: 95%;
}

.box_icon_one {
    cursor: pointer;
    margin: 0 0 1.5rem 0.3rem;
    width: 1.85rem;
}

.box__input {
    width: 50vw;
    padding: 0.6rem;
    -webkit-appearance: none;
    box-shadow: 2px 2px 5px 5px rgba(146, 105, 105, 0.3);
    border: 1px solid rgba(146, 105, 105, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1.5rem;
    text-indent: 0.5rem;
    padding-right: 4.3rem;
    border-radius: 0.6rem;
    outline: none;
    color: rgba(0, 0, 0, 0.7);
}

.box__icon_two {
    width: 50px;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-2%, -50%);
    border: none;
    background: transparent;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 50%;
    padding-left: 0.9rem;
    list-style: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.7rem;
    border-bottom: 1px solid rgba(146, 105, 105, 0.6);
    word-break: break-word;
    margin-bottom: 1rem;
    user-select: none;
}

.container:first-of-type {
    margin-top: 1.5rem;
}

.container_done {
    text-decoration: line-through;
    text-decoration-color: #70bdaf;
    transition: all 1s ease;
    color: rgba(0, 0, 0, 0.3);
}

.flex {
    display: flex;
}

.flex__btn {
    margin: 0 1.25rem;
    cursor: pointer;
}

@media all and (max-width:800px) {
    .box__title {
        font-size: 3.1rem;
    }
}

@media all and (max-width: 500px) {
    .box__title {
        font-size: 2.5rem;
        letter-spacing: 0;
    }

    .box_icon_one {
        width: 1.7rem;
    }

    .box__input {
        width: 75vw;
    }

    .container {
        width: 90%;
        padding-left: 0.3rem;
    }

    .flex__btn {
        margin: 0 0.7rem;
    }
}